body {
    background-color: #E0FFFF;
}
h1{
    color: #00BFFF;
}
#container1{
    display: flex;
    flex-direction: column;
}
#container2{
    float: left;
    margin: 200px 50px 250px 200px;
}
#container3{
    float: right;
    margin: 250px 250px 0 150px;
}